
@font-face {
    font-family: Abel;
    src: url('fonts/Abel/Abel-Regular.ttf');
}

@font-face {
    font-family: Anton;
    src: url('fonts/Anton/Anton-Regular.ttf');
}

@font-face {
    font-family: work-sans;
    src: url('fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: roboto;
    src: url('fonts/Roboto/Roboto-BoldItalic.ttf');
}